body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    ;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  /*HEADER*/
  .header {
    /*Voir pour gestion de la largeur so possible responsive ou pas?*/
    display: flex;
    width: auto;
    position: relative;
    height: 68px;
    top: 40px;
    left: 100px;
    background-color: #f0f0f0;
    padding: 10px;
  
    .nav {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
  
      /*.logo {

      }*/
  
      .menu {
        display: flex;
        justify-content: space-between;
        width: 309px;
        height: 34px;
        list-style: none;
        padding: 0;
        margin: 0;
  
        .menu-item {
          text-align: center;
  
          .menu-link {
            color: #FF6060;
            display: block;
            padding: 10px;
            text-decoration: none;
  
            &:hover {
              background-color: #ddd;
            }
          }
        }
      }
    }
  }
  