@import './utils/_variables.scss';
@import './utils/_mixins.scss';
@import './utils/_typographie.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


body {
    margin: 0;
    font-family: 'Monserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    color: $white;
    font-weight: 500;
    font-size: 18px;
    @include mobile {
      font-size: 12px;
    }
    ;
  }
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  }

  h1 {
    @extend .typo__text-48;
  }
  
  h2 {
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    @include mobile {
      font-size: 18px;
    }
  }

  /*Mettre en place un container à 1440px? A voir*/
.container {
  min-height: 100vh;
  margin: auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  max-width: 1440px;

  @include mobile {
    max-width: 375px;
  }
}

.container__body {
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*.body__name {
  display: flex;
}*/

main {
  flex-grow: 1;
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-top: 70px;
  align-items: center;
  height: 100%;
}

  /*HEADER*/
.header {

  display: flex;
  width: 100%;
  position: relative;
  height: 68px;
  top: 40px;
  background-color: $white;
  @include tablet {
    height: 47px;
    top: 20px;
    }
  
  @include mobile {
    flex-direction: column;
    top: 18px;
    /*align-items: ;*/
  }
  
  .nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  
    .logo {
      /*Comment gérer le logo avec une deuxieme image ou reduire automatiquement la taille du logo*/
      @include mobile {
        max-height: 47px;
        width: auto;
        }
    }
  
    .menu {
      display: flex;
      justify-content: space-between;
      width: 12rem;
      height: 34px;
      list-style: none;
      padding: 0;
      margin: 0;
      @include mobile {
        width: 8rem;
      }
  
      .menu-item {
        text-align: center;
  
        .menu-link {
          color: $pink;
          display: block;
          padding: 10px;
          text-decoration: none;
          text-transform: capitalize;
  
          &:hover {
            text-decoration: underline;
            }
          }
        }
      }
    }
  }

/*FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 209px;
  background-color: $black;

  /*.logo {
    // Ajouter les styles pour le logo ici
  }*/

  &-text {
    margin-left: 10px;
    color: $white;
  }
}

/*voir si suppression ok. Verifier sélecteurs*/
.fixed {
  position: fixed;
}

/*BANNER*/
.banner {
  width: 100%;
  /*height: 223px;*/
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  @include mobile {
    margin-bottom: 20px;
  }

  &-image {
    width: 100%;
    height: auto;
    @include mobile {
      height: 111px;
    }
  }

  &-content {
    position: absolute;
    text-align: center;

    & h1 {
      @include mobile {
        font-size: 24px;
        width: 8em;
        text-align: left;
      }
      @include tablet {
        font-size: 32px;
        
      }
    }
  }
}

/*ERROR PAGE*/

.error {
  @include container;
  color: $pink;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  &__div {
    flex-direction: column;
    display: flex;
    align-items: center;
    &-img {
      width: 597px;
      height: 263px;
      @include mobile {
        width: 198px;
        height: 99px;
      }
    }
    &-msg {
      font-size: 36px;
      @include mobile {
        font-size: 18px;
        width: 260px;
        text-align: center;
      }
    }
  }

  &-link {
    color: $pink;
    @include mobile {
      font-size: 14px;
    }
  }
}



/*GALLERY LOGEMENT*/
.gallery-logement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  width: 100%;
  background-color: $grey;  
  border-radius: 10px ;
  padding-bottom: 20px;
  padding-top: 20px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    background-color: $white;
  }

}

/*CARDS*/
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /*max-width: 340px;*/
    width: 100%;
    height: 340px;
    border-radius: 10px;

    @include mobile {
      height: 255px;
    }
  

  &__image {
    width: 100%;
    /*max-width: 335px;*/
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &-link {
    text-decoration: none;
    width: 340px;

    @include mobile {
      width: 100%;
    }
  }

  &__content { 
    width: 100%;
    height: 50px;
    position: absolute;
    top: 285px;
    @include mobile {
      top : 220px;
    }
    &-text {
      color: $white;
      height: 100%;
      margin: 0 20px;
      
      @include mobile {
        font-size: 18px;
      }
    }
  }
}

/*COLLAPSE*/
.collapse {
  
  line-height: 1.5;
  @include container;
  max-width: 1023px;
  width: 100%;
  align-items: stretch;
  &__container{
    @include container;

    &-header{
      background-color: $pink;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      height: 36px;
      padding: 0 10px;
      position: relative;
      bottom: -5px;
      @include mobile {
        height: 30px;
      }
      p {
        margin: 0;
      }
    }

    &-content{
    background-color: $grey;
    color: $pink;
    padding: 0 10px;
    border-radius: 0 0 5px 5px;
    height: 100%;
    /*@include mobile {
      height: 145px;
    }*/
      p {
        font-weight: 400;
      }
    }
  }
}

.logement-page .collapse {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  max-width: none;
  gap: 60px;
  @include mobile {
    @include container;
    gap: 0px;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

/*SLIDESHOW*/
.slideshow {
  position: relative;
    width: 100%;
    height: 415px;
    margin-bottom: 20px;

    @include mobile {
      height: 255px;
      margin-bottom: 10px;
    }

  &-arrows {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;

    .arrow {
      color: #fff;
      border: none;
      border-radius: 50%;
      padding: 24px;
      font-size: 24px;
      cursor: pointer;
    
      &:hover {
        background-color: rgba(255, 255, 255, 0.8);
      }
    }

  }

    &-numbers {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);
      color: #fff;
      font-size: 16px;

      @include mobile {
      display: none;
      }
    }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}

/*LOGEMENT__HEADER*/
.logement__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
  justify-content: space-between;
  width: 100%;
  color: $pink;
  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }

  &-location {

    @include mobile {
      font-size: 14px;
    }
  }

  &-tags {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    .tag {
      display: flex;
      justify-content: center;
      min-width: 95px;
      height: 25px;
      border-radius: 5px;
      background-color: #FF6060;
      color: white;
      font-size: 14px;
      text-align: center;
      align-items: center;
      padding: 0 10px;
      @include mobile {
        min-width: 84px;
        height: 18px;
      }
    } 
  }

  &-profil{
    @include mobile {
      flex-direction: row-reverse;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 15px;
    }
    .logement__header-content{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 20px;
      gap: 10px;
      @include mobile {
        margin: 0px;;
      }

      .logement__header-photo {
        display: flex;
        width: 64px;
        height: 64px;
        background-color: $grey;
        border-radius: 50%;
        overflow: hidden;
        @include mobile {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

}

/*RATE*/
.rate {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  color: #F6F6F6;
  @include mobile {
    font-size: 13px;
  }

  .star-selected {
    color: $pink;
  }
}
