@import './utils/_variables.scss';
@import './utils/_mixins.scss';




body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #ffffff;
    ;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  /*Mettre en place un container à 1440px? A voir*/
  .container {
    min-height: 100vh;
    padding-bottom: 68px; /* Hauteur du footer */
    box-sizing: border-box;
}

  /*HEADER*/
  .header {
    /*Voir pour gestion de la largeur si possible responsive ou pas?

    Exemple uilisation mixin
    @include tablet {
      display: flex;
      justify-content: space-between;  
   }
    */
    display: flex;
    width: 100%;
    position: relative;
    height: 68px;
    top: 40px;
    /*left: 100px;*/
    background-color: $white;
    padding: 10px;
    @include responsive {
      height: 47px;
      top: 20px;
    }
  
    .nav {
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
  
      .logo {
        /*Comment gérer le logo avec une deuxieme image ou reduire automatiquement la taille du logo*/
        @include responsive {
          max-height: 47px;
          width: auto;
        }
      }
  
      .menu {
        display: flex;
        justify-content: space-between;
        width: 10rem;
        height: 34px;
        list-style: none;
        padding: 0;
        margin: 0;
  
        .menu-item {
          text-align: center;
  
          .menu-link {
            color: $pink;
            display: block;
            padding: 10px;
            text-decoration: none;
  
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

/*FOOTER*/

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 209px;
  background-color: $black;

  /*.logo {
    // Ajouter les styles pour le logo ici
  }*/

  .footer-text {
    margin-left: 10px;
    color: $white;
  }
}

  