@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");
.typo__text-thin {
  font-size: 18px;
  font-weight: 300;
}

.typo__text-48, h1 {
  font-weight: 500;
  font-size: 48px;
}

.typo__text-36 {
  font-weight: 500;
  font-size: 36px;
}

.typo__text-18, h2 {
  font-weight: 500;
  font-size: 18px;
}

.typo__text-14 {
  font-weight: 500;
  font-size: 14px;
}

.typo__text-12 {
  font-weight: 500;
  font-size: 12px;
}

body {
  margin: 0;
  font-family: "Monserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*Mettre en place un container à 1440px? A voir*/
.container {
  min-height: 100vh;
  /*box-sizing: border-box;*/
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
}

.container__body {
  max-width: 1240px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.body__name {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  margin-top: 63px;
}

/*HEADER*/
.header {
  /*Voir pour gestion de la largeur si possible responsive ou pas?

   Exemple uilisation mixin
   @include tablet {
     display: flex;
     justify-content: space-between;  
  }
   */
  display: flex;
  width: 100%;
  position: relative;
  height: 68px;
  top: 40px;
  background-color: white;
}
@media screen and (max-width: 1024px) {
  .header {
    height: 47px;
    top: 20px;
  }
}
.header .nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header .nav .logo {
  /*Comment gérer le logo avec une deuxieme image ou reduire automatiquement la taille du logo*/
}
@media screen and (max-width: 1024px) {
  .header .nav .logo {
    max-height: 47px;
    width: auto;
  }
}
.header .nav .menu {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  height: 34px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .nav .menu .menu-item {
  text-align: center;
}
.header .nav .menu .menu-item .menu-link {
  color: #FF6060;
  display: block;
  padding: 10px;
  text-decoration: none;
}
.header .nav .menu .menu-item .menu-link:hover {
  text-decoration: underline;
}

/*FOOTER*/
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 209px;
  background-color: black;
  /*.logo {
    // Ajouter les styles pour le logo ici
  }*/
}
.footer-text {
  margin-left: 10px;
  color: white;
}

/*BANNER*/
.banner {
  width: 100%;
  height: 223px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.banner-image {
  width: 100%;
  height: auto;
}
.banner-content {
  position: absolute;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .banner-content h1 {
    font-size: 24px;
  }
}

/*GALLERY LOGEMENT*/
.gallery-logement {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  width: 100%;
  background-color: #E3E3E3;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}
@media screen and (max-width: 1024px) {
  .gallery-logement {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
}
@media screen and (max-width: 480px) {
  .gallery-logement {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
  }
}

/*CARDS*/
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 340px;
  width: 100%;
  height: 340px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.2) 50%);
  background-color: #FF6060;
}
.card__image {
  width: 100%;
  max-width: 335px;
  height: 335px;
  padding: 2.5px;
  box-sizing: border-box;
  border-radius: 10px;
}
.card-link {
  text-decoration: none;
}
.card__content {
  width: 100%;
  height: auto;
}
.card__content-text {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
}