.typo__text-thin {
   font-size: 18px;
   font-weight: 300;
}

.typo__text-48 {
    font-weight: 500;
    font-size: 48px;
}

.typo__text-36 {
    font-weight: 500;
    font-size: 36px;
}

.typo__text-18 {
    font-weight: 500;
    font-size: 18px;
}

.typo__text-14 {
    font-weight: 500;
    font-size: 14px;
}

.typo__text-12 {
    font-weight: 500;
    font-size: 12px;
}